* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  width: 75%;
  margin: auto;
  color: rgb(95, 95, 95);
}

.fix {
  display: flex;
  flex-direction: column;
}

.buttons-menus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
}

.js-item-element {
  display: flex;
  flex-direction: row;
}

.item-name, .rating {
  padding: 5px;
  margin: 0px;
}

fieldset {
  border: none;
}


@media (min-width: 700px) { /* Medium Screen */
  
}

@media (min-width: 1024px) { /* Large Screen */
  
}

.fade-in {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  animation: fadeIn ease .5s;
  -webkit-animation: fadeIn ease .5s;
  -moz-animation: fadeIn ease .5s;
  -o-animation: fadeIn ease .5s;
  -ms-animation: fadeIn ease 5.s;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}