* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  flex: 1;
  width: 75%;
  margin: auto;
  color: rgb(95, 95, 95);
}

/* -----BOOKMARK FORM------*/

#bookmark-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
}

#bookmark-description {
  resize: none;
  border-radius: 4px;
  color: rgb(116, 116, 116);
  padding: 10px;
}

#bookmark-url, #bookmark-title { 
  border: 1px solid rgb(116, 116, 116);
  border-radius: 4px;
  padding: 3px;
  width: 200px;
}

.cancel-button, .submit-button { 
  
  display: inline;
  border-radius: 10px;
  background-color: rgb(234, 251, 255);
  border: 1px solid rgb(116, 116, 116);
  color: rgb(95, 95, 95);
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.cancel-button:hover { 
  color: rgb(240, 240, 240);
  background-color: rgb(226, 96, 96);
  transition: 0.25s;
}

.submit-button:hover { 
  color: rgb(240, 240, 240);
  background-color: rgb(48, 116, 50);
  transition: 0.25s;
}

#bookmark-url:hover, #bookmark-title:hover { 
  background-color:rgb(245, 252, 253);
  transition: 0.25s;
}

textarea:hover {
  background-color:rgb(245, 252, 253);
  transition: 0.25s;
}

textarea {
  height: 200px;
  width: 300px;
}

/* -----Italic Placeholder------*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(206, 206, 206);
  font-style: italic;
}

::-moz-placeholder { /* Firefox 19+ */
  color: rgb(206, 206, 206);;
  font-style: italic;
}

:-ms-input-placeholder { /* IE 10+ */
  color: rgb(206, 206, 206);;
  font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
  color: rgb(206, 206, 206);;
  font-style: italic;
}

/* -----INITIAL------*/

.button-item {
  width: 300px;
  height: 35px;
  margin: 2px;
  background-color: rgb(255, 254, 254);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  color: grey;
  text-align: left;
  font-size: 16px;
  word-wrap: normal;
}

.button-item:hover {
  background-color:rgb(245, 252, 253);
  transition: 0.25s;
}

.button-item:active{
  background-color:rgb(36, 229, 255);
  transition: 0.25s;
}

.rating-1::after {
  font-size: 12px;
  margin-left: 5px;
  content: '★ ';
}

.rating-2::after {
  font-size: 12px;
  margin-left: 5px;
  content: '★ ★ ';
}

.rating-3::after {
  font-size: 12px;
  margin-left: 5px;
  content: '★ ★ ★ ';
}

.rating-4::after {
  font-size: 12px;
  margin-left: 5px;
  content: '★ ★ ★ ★ ';
}

.rating-5::after {
  font-size: 12px;
  margin-left: 5px;
  content: '★ ★ ★ ★ ★ ';
}

.new-bookmark, .filter {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
}

.filter {
  background-color: rgb(255, 254, 254);
}

.new-button {
  border: none;
  border-radius: 4px;
  color: rgb(95, 95, 95);
  font-size: 18px;
  background-color: rgb(255, 254, 254);
  width: 100%;
  height: 100%;
}

.new-button:hover {
  background-color:rgb(245, 252, 253);
  transition: 0.25s;
}

.filter:hover, select:hover {
  background-color:rgb(245, 252, 253);
  transition: 0.25s;
}

.new-button:active{
  background-color:rgb(36, 229, 255);
  transition: 0.25s;
}

.buttons-menus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  flex: 1;
}

.fix {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-self: center;
  justify-items: center;
}

select {
  color: rgb(95, 95, 95);
  background-color: rgb(255, 254, 254);
  border-radius: 0px;
}

/* -----EXPANDED------*/

.description-container {
  width: 300px;
  padding: 10px;
  background-color: rgb(255, 254, 254);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
}

.selected {
  text-shadow: 1px 1px black;
  color: white;
  background-color:rgb(64, 233, 255);
  transition: 0.25s;
}

.selected:hover {
  text-shadow: 1px 1px rgb(64, 233, 255);
  color: rgb(95, 95, 95);
}

p {
  font-style: italic;
  color: rgb(155, 155, 155);
  font-size: 12px;
}

p::before {
  content: open-quote;
}

p::after {
  content: close-quote;
}

.js-item-element {
  display: flex;
  flex-direction: row;
}

.item-name, .rating {
  padding: 5px;
  margin: 0px;
}

fieldset {
  border: none;
}

.link-button {
  color: rgb(95, 95, 95);
  background-color: rgb(255, 254, 254);
  border-radius: 4px;
}

.link-button:hover {
  background-color:rgb(245, 252, 253);
  transition: 0.25s;
}

.link-button:active{
  background-color:rgb(36, 229, 255);
  transition: 0.25s;
}

.button-delete {
  margin-left: 5px;
  border-radius: 4px;
  color: white;
  background-color: rgb(226, 96, 96);
}

.button-delete:hover {
  border: 1px solid black;
  color: rgb(128, 52, 52);
  background-color: pink;
  transition: 0.25s;
}

a {
  color: rgb(95, 95, 95);
  background-color: rgb(238, 249, 253);
  font-size: 14px;
  text-decoration: none;
  padding: 2px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
}

a:hover {
  color: white;
  text-shadow: 1px 1px black;
  background-color: rgb(153, 153, 153);
  transition: 0.25s;
}

span[class^='rating']:hover {
  text-shadow: 1px 1px rgb(95, 95, 95);
  color: gold;
  transition: 0.25s;
}

/* Screen Adjustments */

@media (min-width: 700px) { /* Medium Screen */
  body {
    margin-top: 20px;
    width: 85%;
  }
  
  #bookmark-url, #bookmark-title { 
    width: 300px;
  }

  textarea {
    height: 200px;
    width: 350px;
  }

  .button-item {
    width: 400px;
    height: 45px;
    font-size: 22px;
  }

  .description-container {
    width: 400px;
  }
}

@media (min-width: 1024px) { /* Large Screen */
  body {
    margin-top: 30px;
    width: 95%;
  }
  
  #bookmark-url, #bookmark-title { 
    width: 400px;
  }

  textarea {
    height: 250px;
    width: 450px;
  }

  .button-item {
    width: 500px;
    height: 55px;
    font-size: 28px;
  }

  .description-container {
    width: 500px;
  }
}

/* ------------------- */

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 24px;
  color: rgb(203, 222, 224);
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: gold;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: gold;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: rgb(190, 162, 0);
}

/* ------------------- */
